{{!-- <p>i am in poducts page</p>
<div>
    {{productinfo}}
</div> --}}
<ul>
{{#each item}}
    <img src="{{image_url}}" width="200px">
    <p>{{Label}}</p>
    <p>{{Price}}</p>
    <form action="/" method="POST">
  	<button type="cart">Add to Cart</button>
  </form>
{{/each}}
</ul>

 {{!-- {{#each burgers}}

        <li>
          <img src="../img/cuteburger.png" width="100px">
          <p>
            {{this.burger_name}}
          </p>
          <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            <button type="submit" class="btn btn-default" style="background-color:black; color:yellow; padding: 15px">Eat it!</button>
          </form>
        </li>
      {{/unless}}
    {{/each}} --}}