<h1>{{title}}</h1>
{{# if products }}
<h2><strong>Thanks For Shopping With Us!!</strong></h2>
<div class="cart page">
    <ul class="list-group">
        {{# each products }}
          <strong>  {{ formatDate order_date}}</strong>
                {{# each Products}}
                    <li class="list-group-item clearfix">
                        <div class="col-sm-5">
                            <strong>{{ product_name }}</strong>
                            <br/>
                            <img class="prodimg" src={{product_image}} class="rounded img-fluid" width="200rem">
                        </div>
                        <br>
                        <div class="col-sm-2 text-right " >
                        <label>Quantity</label>
                        </br>
                            {{ OrderProduct.order_quantity }}
                        </div>
                        <div class="col-sm-2 text-right " >
                         <label>Total Amount</label>
                        </br>
                            ${{ formatTotal price OrderProduct.order_quantity }}
                        </div>
                    </li>
                {{/each}}
                <div class="text-right">
    <strong>Order Total: ${{ lookup ../total @index }} </strong>
</div>
        {{/each}}
    
    </ul>
</div>
<hr>

{{ else }} You have no orders !! {{/if}}

