<h3 id="title"></h3>
{{!-- <p id="profile-id">{{profile_id}}</p> --}}
<div class="row ">
{{#each products}}
<div class="col-md-6 col-lg-3">
    <img class= "prodimg" src="{{product_image}}" width="200rem">
    <p>{{ product_name }}</p>
    <p>${{price}}</p>
    <form> 
  	<button class="btn cart-btn" data-id={{id}} type="cart" style="float:right;color:black;background-color:transparent"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
    </button>
  </form>
  </div>

  <br><br>
{{/each}}
</div>
<!-- jQuery -->
<script src="/assets/js/shopping.js"></script>
